body {
    margin: 0;
    background-color: rgb(26 26 46);
    font-family: Arial, Helvetica, sans-serif;
}

.stories-container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgb(26 26 46);;

    overflow-x: auto;
    scroll-behavior: smooth;
}

.story-items {
    cursor: pointer;
    padding: 0.3rem;
    margin: 0.5rem;
    border-radius: 50%;
    background: linear-gradient(rgb(61, 143, 225), rgb(247, 57, 40));
}

.story-items img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: block;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 90%;

     margin: 8rem auto 0;
}

.content-container img, .content-container2 img {
    height: 12rem;
    width: 100%;
}

.description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 90%;

    margin: 2rem auto;
}

.description-item {
    display: flex;
    width: 70%;
    height: auto;
    color: whitesmoke;
}

.user-profile {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 4rem;
}

.content-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 90%;

    margin: 2rem auto;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 90%;

    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.nav-items {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 13px;

    cursor: pointer;

    background-color: white;
    border: none;
}

.nav-items img {
    height: 25px;
    width: 25px;
    background-color: white;
}
